body{
    background-color:whitesmoke
}

.card{
    border: 2px solid black;
}

#btn1{
    background-color: royalblue
}

#btn2{
    background-color: chartreuse
}

#btn3{
    background-color: violet
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#pet-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#submitPetBtn{
    background-color: whitesmoke;
    color: whitesmoke;
    border: 0px;
}

#deleteBtn{
    background-color: red
}